*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.App{
    width: 800px;
}

.post{
  display: flex;
  justify-content:space-between;
  padding: 15px;
  margin: 15px;
  border: 2px solid teal;
  align-items: center;
}

.post-btns{
    display: flex;
}

.navbar{
    width: 100vw;
    height: 50px;
    padding: 0 15px ;
    display: flex;
    align-items: center;
    background: lightgray;
  }


  .navbar_item{
    margin-left: auto;
  }



  h1{
    margin-left:  15px;
  }

 

