hr{
    width: 770px;
    margin-left:  15px;
    margin-top:  20px;     
}


.select{
    margin-top: 10px;
    margin-left:  15px;
    width: 200px;
}



.post-enter {
    transform: translateX(-350px);
  }
  .post-enter-active {
    transform: translateX(0);
    transition: all 500ms ease-in;
  }
  .post-exit {
    opacity: 1;
  }
  .post-exit-active {
    transform: translateX(-350px);
    transition: all 500ms ease-in;  
  }


  .pages-wrapper{
    display: flex;
    margin-top: 30px;
    margin-left: 15px;
  }

  .pages{
    padding: 10px;
    border: 1px solid teal;
    cursor: pointer;   
  }

  .page-current{
    border: 2px solid greenyellow;
    font-weight: bold;  
  }




