hr{
    width: 770px;
    margin-left:  15px;
    margin-top:  20px;     
}


.select{
    margin-top: 10px;
    margin-left:  15px;
    width: 200px;
}



.post-enter {
    transform: translateX(-350px);
  }
  .post-enter-active {
    transform: translateX(0);
    transition: all 500ms ease-in;
  }
  .post-exit {
    opacity: 1;
  }
  .post-exit-active {
    transform: translateX(-350px);
    transition: all 500ms ease-in;  
  }


